
/* ---------------------------------------------------------------
CSS Reset
--------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------------------------------------
Project Specific Styles
--------------------------------------------------------------- */

body {
    font-family: Lato;
    font-size: 12px;
    line-height: 1.5;
    padding: 1% 2%;
}

h1 {
    font-size: 1.6em;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.4em;
    font-weight: 800;
}

h2 {
    font-size: 1.4em;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.4em;
    font-weight: 800;
}

h3 {
    font-size: 1.2em;
    line-height: 2em;
    font-weight: 800;
}

img {
    width: 100%;
    padding: 10px 0;
}

header {
    margin: 10px 0;
    padding: 10px 30px;
    background-color: pink;
    text-align: center;
}

header a {
    margin-left: 10px;
}

footer {
    margin: 10px 0;
    padding: 10px 30px;
    background-color: blueviolet;
    text-align: center;
}

article {
    margin-top: 30px;
    margin-bottom: 30px;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

main {
    width: 450px;
    margin: 0 auto;
}

.date, time {
    color: blue;
    text-transform: uppercase;
}

.read-more {
    display: block;
    padding: 10px 0 0 5px;
}